
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #ffffff,lch(43.72% 67.98 309.86));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 20px;
}

.logo {
  font-size: 2.2em;
  color: lch(92.02% 3.3 309.14);;
  margin-bottom: 20px;
  font-weight: 700;
}

.form-card {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  text-align: left;
  color: #555;
  font-weight: 500;
  margin-bottom: 3px;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border 0.3s;
}

input:focus, select:focus {
  border-color: #b533d6;
}

.btn {
  background-color: #6d177e;
  color: white;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #8e2bb8;
}

.link-text {
  margin-top: 15px;
  font-size: 14px;
}

.link-text a {
  color: #ad1fd4;
  text-decoration: none;
  font-weight: 500;
}

.link-text a:hover {
  text-decoration: underline;
}

/* Responsivo */
@media (max-width: 500px) {
  .form-card {
    padding: 20px;
  }
  .logo {
    font-size: 1.8em;
  }
}
